/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
@import url(chrome://global/skin/inContentUI.css);

screen {
  -moz-box-pack: center;
  -moz-box-align: center;
  margin: 8em;
}

.header {
  font-size: 1.5em;
  font-weight: bold;
}

.description-margin {
  margin-bottom: 20px;
}

.button-fxacct {
  width: 14em;
}

.withMargin {
  margin: 10px;
}

/* Row styling */
.label-row {
  text-align: right;
}

.textbox-row {
  -moz-box-pack: start;
  max-width: 15em;
}
